.fc-event-content {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    font-size: 0.85rem;
    gap: 8px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.fc-event-emoji {
    font-size: 1.2rem;
}

.fc-event-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.fc-event-title {
    font-weight: bold;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fc-event-description {
    font-size: 0.8rem;
    color: #080808;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}